{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Todos os perfils</strong>
        </div>
        <h1>[Index]: Bem-vindo ao projeto ConnectedIn</h1>
            {% if perfis %}
                <ul>
                    {% for perfil in perfis %}
                    <li><a href="{% url 'exibir' perfil.id %}">{{perfil.nome}} / {{perfil.email}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Nenhum perfil foi encontrado.</h2>
            {% endif %}
    </div>
</div>
{% endblock %}